# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.venv/
venv/

# Environments
.env
.env.*

# Databases
*.db

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/

# Tests
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
